@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
.navbar{
    // reseting
    font-family: 'Poppins', sans-serif;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: inherit; 
        text-decoration: inherit; 
    }
    
        width: 100%;
        
        nav{
            display: flex;
        }
        .logo{
            h1{
                font-size: large;
                font-weight: 800;
            }
        }
        .menue{
           ul{
               display: flex;
               font-weight: 600;
               font-size: medium;
               li{
                    padding: 10px;
               }
           }
        }
    
}